@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400&family=Montserrat&display=swap");

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body and html defaults */

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%
  background: rgb(248, 248, 255);
}

body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

// Footer

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-weight: 300;
  align-self: center;

  &__socials {
    margin-bottom: 2rem;
    font-weight: 300;
    a {
      font-size: 2rem;
      margin: 1rem;
      color: #3b3b3b;
      transition: 0.5s ease-in;
      &:hover {
        color: #84a7b4;
      }
    }
  }
}
