// Variables
$color-primary: #84a7b4;
$color-secondary: #3b3b3b;
$color-white: #fff;
$color-beige: #ECE8E8;

$font-big: 4rem;
$font-medium: 2rem;
$font-small: 1.6rem;
$font-extra-small: 1.2rem;

$margin-huge: 10rem;
$margin-big: 8rem;
$margin-medium: 4rem;
$margin-small: 2rem;

// Main-Tag Grid
.global-grid {
  display: grid;
  grid-template-columns:
    [main-start] minmax(7.5rem, 1fr) [center-start] minmax(50rem, max-content)
    minmax(50rem, max-content) [center-end] minmax(7.5rem, 1fr) [main-end];
}

//Navbar
.navbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: $font-small;
  padding-bottom: 1rem;
  padding: 2rem;

  &__logo {
    width: 42rem;
  }

  &__pages {
    display: flex;
    justify-content: center;
  }

  &__gallery {
    &:hover {
      .navbar__dropdown {
        display: block;
        margin-left: -2rem;
      }
    }
  }

  &__dropdown {
    display: none;
    position: absolute;
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
    background: $color-beige;
    border-top: 1px solid $color-primary;
    z-index: 2;
    transition: 0.5s all ease;
  }

  &__dropdown-item {
    margin: 2rem;
  }

  &__link {
    text-decoration: none;
    color: $color-secondary;
    margin-right: 2rem;
    position: relative;
    transition: 0.5s all ease;

    &:hover{
      color: $color-primary;
    }
  } 
}

//Homepage
.home-grid {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: $margin-medium;
  margin-bottom: $margin-big;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-items: center;
  align-items: center;

  &__item {
    background: $color-primary;
    text-align: center;
    height: 100%;
    width: 100%;
    position: relative;
    transition: opacity 0.5s ease;
    transition: display 0.5s ease;

    &:hover {
      opacity: 0.8;
      h2 {
        display: none;
      }
    }

    &--text {
      position: absolute;
      font-size: $font-big;
      text-shadow: 1px 1px 1px $color-secondary;
      z-index: 5;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: $color-white;
      cursor: pointer;
    }
  }

  &__link {
    text-decoration: none;
    color: $color-white;
  }
}

//About Page

.about-grid {
  margin-top: $margin-medium;
  height: 50vh;
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;

  &__img {
    background: url('../images/Pia-profile.jpg');
    background-size: cover;
    text-align: center;
    height: 100%;
    width: 80%;
    justify-self: center;

  }

  &__content {
    color: $color-secondary;
    font-size: $font-small;
    align-self: flex-start;
    width: 80%;
    line-height: 3rem;
    justify-self: center;
    font-weight: 300;
  }
}