// Variables
$primary-color: #84a7b4;
$secondary-color: #3b3b3b;
$white: #fff;

$font-big: 4rem;
$font-medium: 2rem;
$font-small: 1.6rem;

$margin-huge: 10rem;
$margin-big: 8rem;
$margin-medium: 4rem;
$margin-small: 2rem;

.u-center-text {
  text-align: center !important;
}

.u-margin-top-huge {
  margin-top: $margin-huge !important;
}

.u-margin-top-big {
  margin-top: $margin-big !important;
}

.u-margin-bottom-big {
  margin-bottom: $margin-big !important;
}

.u-margin-bottom-medium {
  margin-bottom: $margin-medium !important;
}

.u-margin-bottom-small {
  margin-bottom: $margin-small !important;
}
